@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --ui-blue: #b3dcff;
  --ui-blue-dark: #0038ff;
  --ui-brown: #dcdcdc;
  --ui-grey: #656565;
  --ui-grey-light: hsla(0, 0%, 97%, 1);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ui-blue: var(--ui-blue);
  --color-ui-blue-dark: var(--ui-blue-dark);
  --color-ui-brown: var(--ui-brown);
  --color-ui-grey: var(--ui-grey);
  --color-ui-grey-light: var(--ui-grey-light);
  --font-space-grotesk: var(--font-space-grotesk);

  --color-primary: var(--ui-blue-dark);
  --color-primary-foreground: white;

  --color-secondary: var(--foreground);
  --color-secondary-foreground: var(--background);

  --color-accent: var(--ui-brown);

  /* --contained-xl: 1408px; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-grotesk);
}

.bg-gradient-r-violet-blue-green-subtle {
  background-image: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
}

.bg-gradient-r-violet-blue-green {
  background-image: linear-gradient(90deg, #8f00ff, #2f72ff, #19e8c2);
}

.bg-clip-text {
  background-clip: text;
}

.btn-gradient {
  @apply text-white font-semibold px-6 py-3 rounded-lg transition-all duration-300 ease-in-out;
  /* default state */
  background-image: linear-gradient(to right bottom, #8f00ff 40%, #0038ff);
  background-size: 200% auto;
  background-position: left center;
}

.btn-gradient:hover {
  background-image: linear-gradient(to left top, #8f00ff 40%, #0038ff);
  background-position: right center;
}
