@import "tailwindcss";

/**
* TBC
// #222222 TEXT
// 225, 225, 225, 0.8 BACKDROPS
// rgb(179, 220, 255) PROFILE ICON
*/

:root {
  --background: #ffffff;
  --foreground: #222222;
  --ui-blue: #b3dcff;
  --ui-brown: #dcdcdc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ui-blue: var(--ui-blue);
  --color-ui-brown: var(--ui-brown);
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono); */
  --space-grotesk: var(--font-geist-sans);

  --contained-xl: 1408px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-gradient-r-violet-blue-green-subtle {
  background-image: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
}

/* 
.text-ui-grey-950 {
  --tw-text-opacity: 1;
  color: rgb(41 41 41 / var(--tw-text-opacity, 1));
}

.bg-ui-lightest {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-ui-grey-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(220 220 220 / var(--tw-bg-opacity, 1));
} */
