@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
  --ui-blue: #b3dcff;
  --ui-brown: #dcdcdc;
  --ui-grey: #656565;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ui-blue: var(--ui-blue);
  --color-ui-brown: var(--ui-brown);
  --color-ui-grey: var(--ui-grey);
  --space-grotesk: var(--font-geist-sans);

  --color-primary: red;
  --color-primary-foreground: white;

  --color-secondary: var(--foreground);
  --color-secondary-foreground: var(--background);

  /* --contained-xl: 1408px; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
}

.bg-gradient-r-violet-blue-green-subtle {
  background-image: linear-gradient(90deg, #eacdff, #b3dcff, #8effe4);
}
